{
    "presets": [
        [
            "env", {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "ie >= 10"
                    ],
                    "node": "9.11"
                }
            }
        ]
    ],
    "plugins": ["transform-decorators-legacy", "transform-class-properties", "transform-object-rest-spread"]
}